@font-face {
    font-family: georgiaBold;
    src: url(../georgia-bold.ttf);
}

*{
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;  
}

html, body {
	width: 100%;
	height: 100%;
      
	color: #fff;
}

h2 {
	font-weight: 500;
	font-size: 32px;
	margin-bottom: 20px
}

p {
	margin: 12px 0;
	font-size: 26px;
}

label {
	color: white;
	font-size: 32px;
	word-wrap: break-word;
	line-height: 32px;
}
		


.clear {
	clear: both;
}

.page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

