
.game {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	position: absolute;
	background-image: url(../img/game/bg-game.png) ;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}

.cell {
	width: 106px;
	height: 106px;
	position: absolute;
        background-image: url(../img/game/cell1.png);
	background-repeat: no-repeat;
	z-index: 1;
        background-position: center center;
        background-size: 100% 100%;
        text-transform: uppercase;
        cursor: pointer;
        color: #512b00;
        font-size: 56px;
        font-weight: bold;
        line-height: 100px;
        text-align: center;	
        -webkit-user-select: none;
        -moz-user-select: none;
        font-family: georgiaBold;
}

.cell-active {
        background-image: url(../img/game/cell2.png);
        color: #3e2509;
        font-size: 52px;
}

.game-field {
	width: 318px;
        height: 318px;
        top: 1px;
        left: 1px;
        position: absolute;


}

.help {
	width: 100%;
	height: 100%;
	display: table;  
	position: absolute;
	background: rgba(0,0,0, 0.75);
	z-index: 9999;
	display: none;
}

.help__text {
	color: #fff;
	font-size: 30px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	padding: 0 40px;
}

.help__ok {
	width: 150px;
	height: 60px;
	border: 1px solid #fff;
	line-height: 60px;
	border-radius: 5px;
	text-align: center;
	margin: 12px auto;
	background-color: #000;
}

.help__ok:active {
	background-color: #444;
}

@media screen and (min-width: 360px) {
    
        .cell {
                width: 120px;
                height: 120px;
                background-image: url(../img/s-game/cell1.png);
                font-size: 64px;
                line-height: 120px;
        }
        
        .cell-active {
                background-image: url(../img/s-game/cell2.png);
                color: #3e2509;
                font-size: 52px;
        }
       
	
	.game-field {
		width: 360px;
		height: 360px;
		top: 60px;
                left: 0;
	}
        
        .game {

            background-image: url(../img/s-game/panel.png) ;
            
        }


        

	
	.help__text {
		line-height: 40px
	}

	.help__ok {
		margin: 20px auto;
	}

    
}

