
.gameover {
	background: url(../img/bg.png) no-repeat;
}

.gameover__title {
    	width: 264px;
	height: 67px;
	margin: 135px auto 0;
	background: url(../img/over/over-title.png) no-repeat;  
}

@media screen and (min-width: 360px) {
    .gameover {
            background: url(../img/s-bg.png) no-repeat;
    }

    .gameover__title {
            margin: 215px auto 0;
    }
}


