
.levels {
	background: url(../img/bg.png) repeat-y;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

#levels-title {
    	width: 180px;
	height: 31px;
	margin: 25px auto 0; 
	background-image: url(../img/levels/title.png); 
	background-repeat: no-repeat;
} 

.levels-title-1 {
    	background-position: 0 0;  
} 

.levels-title-2 {
    	background-position: 0 -31px;  
} 

.levels-title-3 {
    	background-position: 0 -62px;  
} 

.levels-title-4 {
    	background-position: 0 -93px;  
} 

.levels-title-5 {
    	background-position: 0 -124px;  
} 

.levels-title-6 {
    	background-position: 0 -155px;  
} 

.levels-title-7 {
    	background-position: 0 -186px;  
} 

.levels-title-8 {
    	background-position: 0 -217px;  
} 

.levels-title-9 {
    	background-position: 0 -248px;  
} 

#levels-slide{
	height: 240px;
	position: absolute;
	width: 900%;
        margin-top: 20px;
	
}

.lelevs-group {
	display: inline-block;
	position: relative;
        height: 240px;
	width: 320px;
}

.level-btn { 
	position: absolute;
    	width: 67px;
	height: 67px;
	background-repeat: no-repeat;
	background-position: 0 0;
	line-height: 64px;
	text-align: center;
	color: #fff;
	font-size: 32px; 
	font-weight: bold;
}


.level-open:active{
	background-position: 0 -67px;
}

.level-open {
	background-image: url(../img/levels/open.png)
}

.level-lock {
	background-image: url(../img/levels/lock.png);
}

@media screen and (min-width: 360px) {
    
    .levels {
	background: url(../img/s-bg.png) repeat-y;
    }
    
    #levels-title {
            height: 31px;
            margin: 86px auto 0;
            width: 180px;
    }

    #levels-slide {
            height: 240px;
            margin-top: 42px;
    }
    
    .lelevs-group {
	width: 360px;
}
}


