
.main {
	background: url(../img/main/bg-main.png) no-repeat, url(../img/bg.png) no-repeat;
	height: 100%;   
}

.main-btn { 
	position: absolute;
    	width: 200px;
	height: 70px;
	background-repeat: no-repeat;
	background-position: 0 0 
}

.main-btn:active{
	background-position: 0 -70px;
}

.main__play {
	left: 60px;
	top: 150px;
	background-image: url(../img/main/play.png);
}

.main__levels {
	left: 60px;
	top: 230px;
	background-image: url(../img/main/levels.png);
}
@media screen and (min-width: 360px) {
	.main {
            background: url(../img/s-main/bg-main.png) no-repeat, url(../img/s-bg.png) no-repeat;
            height: 100%;   
        }
        
        .main-btn { 
                position: absolute;
                width: 200px;
                height: 70px;
                background-repeat: no-repeat;
                background-position: 0 0 
        }

	.main__play {
                top: 208px;
		left: 80px;
	
	}

	.main__levels {
                top: 300px;
		left: 80px;
	}
    
}