.stop {
	background: url(../img/bg.png) no-repeat;
	
}

.stop__title {
    	width: 76px;
	height: 42px;
	
	background: url(../img/stop/title.png) no-repeat;
          margin:15px auto 8px;
} 

.settings {
	height: 67px;
	margin: 0 auto;
	width: 190px;	
}


.stop__level{
	width: 100%;
	text-align: center;
	color: #3f1800;
	font-size: 36px;
	font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 0 0 30px;
}

.stop-btn { 
	position: absolute;
    	width: 67px;
	height: 67px;
	top: 230px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.stop-btn:active{
	background-position: 0 -67px;
}


.stop__return {
	left: 228px;
	background-image: url(../img/stop/return.png);
}


.stop__restart {
	left: 128px;
	background-image: url(../img/win/replay.png);
}

.stop__exit {
	left: 27px;
	background-image: url(../img/stop/exit.png);
}

.stop__caption {
	width: 320px;
	height: 27px;
	background-image: url(../img/stop/caption.png);
	background-repeat: no-repeat;
        background-position: center center;
         margin-top: 28px;
    
}

#help-field {
        text-align: center;
    
}

.help-word {
        margin-right: 15px;
        display: inline-block;
}

.help-word:last-child {
        margin-right: 0;
}

.help-symbol {
    	width: 29px;
	height: 29px;
        display: inline-block;
        margin: 0 1px;
        background-image: url(../img/stop/symbol.png);
	background-repeat: no-repeat;
	z-index: 1;
        background-position: center center;
        color: #fff;
        font-size: 26px;
        font-weight: bold;
        line-height: 29px;
        text-align: center;
}

.help-block {
        margin-bottom: 20px;
         height: 60px;

}

.help-btn { 
    	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	background-position: 0 0;
        background-image: url(../img/stop/help.png);
        display: inline-block;
        float: left;
        margin-top: 3px;
}
.help-btn:active{
	background-position: 0 -60px;
}

.help-counter {
        color: #3f1800;
        display: inline-block;
        float: left;
        font-size: 32px;
        font-weight: bold;
        height: 60px;
        line-height: 60px;
        margin: 0 10px 0 70px;
        width: 155px;
}

@media screen and (min-width: 360px) {
    
    .stop {
         background: url(../img/s-bg.png) no-repeat;
    }
    
    .stop__title {
            margin: 85px auto 15px;
    }
    
    .help-block {
            height: 65px;
            margin-bottom: 18px;
    }
    
    .stop__caption {
            height: 27px;
            margin-top: 58px;
            width: 360px;
    }
    
    .stop-btn {
            top: 344px;
    }
    
    .stop__return {
            left: 248px;
    }


    .stop__restart {
            left: 148px;
    }

    .stop__exit {
            left: 47px;
    }
}


