.win {
	background: url(../img/win/bg-win.png) no-repeat, url(../img/bg.png) no-repeat;
	
}

.win-btn { 
	position: absolute;
    	width: 67px;
	height: 67px;
	top: 234px;
	background-repeat: no-repeat;
	background-position: 0 0;
    
}

.win-btn:active{
	background-position: 0 -67px;
}

.win__next {
	left: 228px;
	background-image: url(../img/win/next.png);
}

.win__replay {
	left: 128px;
	background-image: url(../img/win/replay.png);
}

.win__level {
	left: 27px;
	background-image: url(../img/win/level.png);
}

.stats {
    	width: 100%;
	text-align: center;
	color: #3f1800;
	font-size: 28px;
	font-weight: bold;
	margin-top: 78px
}

.stars {
	width: 73px;
	height: 75px;
	margin: 0 4px;
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(../img/win/stars.png);
        background-position: center center;
}

#reward {
	text-align: center;
	margin-top: 8px;
}


.reward_1 .stars_left {
	display: inline-block;
}

.reward_1 .stars_center {
	display: none;
}

.reward_1 .stars_right {
	display: none;
}

.reward_2 .stars_left {
	display: inline-block;
}

.reward_2 .stars_center {
	display: inline-block;
}

.reward_2 .stars_right {
	display: none;
}

.reward_3 .stars_left {
	display: inline-block;
}

.reward_3 .stars_center {

	display: inline-block;
}

.reward_3 .stars_right {

	display: inline-block;
}

@media screen and (min-width: 360px) {
	.win {
		background: url(../img/s-win/bg-win.png) no-repeat, url(../img/s-bg.png) no-repeat;
                

	}
	
        .stats {
            margin-top: 156px;
        }

	
	.win-btn { 
            top: 344px;
	}
	
	.win__next {
		left: 248px;
	}

	.win__replay {
		left: 148px;
	}

	.win__level {
		left: 48px;
	}
        
        #reward {
            margin-top: 13px;
        }
	
	.reward_1 .stars_left {
		left: 132px;
		top: 150px;
	}

	.reward_2 .stars_left {
		left: 75px;
		top: 150px;
	}

	.reward_2 .stars_center {
		left: 190px;
		top: 150px;
	}

	.reward_3 .stars_left {
		left: 25px;
		top: 160px;
	}

	.reward_3 .stars_center {
		left: 132px;
		top: 145px;
	}

	.reward_3 .stars_right {
		left: 240px;
		top: 160px;
	}
}



